{% extends 'main.html' %}
{% load staticfiles cms_tags %}
{% block main %}
    <div class='nav-spacer'></div>
    <div class='main section auto-resize' style="background-image:url('static/img/arctic.png')">
      <div class='main-content'>
        <p style='color: black;'>WE DO <span style='font-weight:700;'>BIG</span><br>THINGS<p>
      </div>
    </div>
    <div class='section'>
      <div class='content-block-medium'>
        <h1>OUR PURPOSE</h1>
        <p>
          In this day and age, success necessitates an ability to effectively
          present your brand in both the physical and digital realm. Because
          today's consumer is being constantly inundated with information,
          employing a modern, and eye-catching website can keep your company
          relevant. Axiom Digital can help you achieve this with a website
          designed from the ground up.
        </p>
      </div>
    </div>
    <div class='section alt'>
      <div class='content-block-medium'>
        <h1>WE ARE YOUR WEB PARTNERS</h1>
        <p>
          We want to help companies grow and establish a strong presence on the
          web. Axiom Digital is more than just a digital product design agency,
          we are just as invested as you are in promoting and exhibiting your
          brand.  From project pitch to design proposal, the process involves
          both parties at an equal level to create to best product possible.
        </p>
      </div>
    </div>
    <div class='section'>
      <div class='content-block-medium'>
        <h1>OUR PRODUCT</h1>
        <div class='content-column content-column-3 about-column'>
          <img src='static/img/design-icon.png'>
          <h4>Modern, Professional Design Schemes</h4>
          <p>
            Our designs are crafted to provide both
            a sleek and stylish visual experience
            to each user with the most cutting-edge
            in web design standards.
          </p>
        </div>
        <div class='content-column content-column-3 about-column'>
          <img src='static/img/responsive-icon.png'>
          <h4>Clean and Stunning Across all Devices</h4>
          <p>
            Our projects are made responsive to assure that
            each page is easy to navigate, and looks amazing
            on every device, from desktop to smartphone.
          </p>
        </div>
        <div class='content-column content-column-3 about-column'>
          <img src='static/img/seo-icon.png'>
          <h4>Powerful Tools for Content Management</h4>
          <p>
            We build each project under a powerful content
            management system that lets you, the client, update
            and create your own content on the site with ease.
          </p>
        </div>
      </div>
    </div>
    <div class='section alt main auto-resize' style="background-image:url('static/img/buildings.png')">
      <div class='content-block-medium'>
        <h1 style='text-align: left;'>
          “Two roads diverged in a wood, and I—<br>
          I took the one less traveled by,<br>
          And that has made all the difference.”<br>
          Robert Frost
        </h1>
      </div>
    </div>
    <div class='section'>
      <div class='content-block-medium' id='everyday'>
        <h1>WE DO THINGS DIFFERENTLY</h1>
        <p>
          Axiom Digital is not just another web design agency.  Years of
          experience has taught us that no one project is the same as another,
          which means a cookie-cutter approach will never be able to produce the
          best product we can.  Instead, we begin each product from absolute
          zero.  Our starting point is always a blank piece of paper.
        </p>
      </div>
    </div>
{% endblock %}