{% extends 'main.html' %}
{% load staticfiles cms_tags %}
{% block main %}
    <div class='nav-spacer'></div>
    <div class='main section auto-resize' style="background-image:url('static/img/arctic.png')">
        <div class='main-content'>
            <p style='color: black;'>WE DO <span style='font-weight:700;'>BIG</span><br>THINGS
            <p>
        </div>
    </div>
    <div class='section'>
        <div class='content-block-medium'>
            {% placeholder 'purpose' %}
        </div>
    </div>
    <div class='section alt'>
        <div class='content-block-medium'>
            {% placeholder 'partners' %}
        </div>
    </div>
    <div class='section'>
        <div class='content-block-medium'>
            {% placeholder 'product' %}
        </div>
    </div>
    <div id="quote">
        {% placeholder 'quote' %}
    </div>
    <div class='section'>
        <div class='content-block-medium split-block'>
            <h1>Not Your Everyday Digital Agency</h1>
            <p>
                Blablablablablablablablabla
            </p>
        </div>
    </div>
{% endblock %}