{% extends 'main.html' %}
{% load staticfiles cms_tags %}
{% block main %}
    <div class='main section auto-resize parrallax' style="background-image:url('{% static 'img/arctic.png' %}')"
         data-stellar-background-ratio="0.5">
        <div class='main-content'>
            <p style='color: black;'>WE DO <span style='font-weight:700;'>BIG</span><br>THINGS
            <p>
        </div>
    </div>
    <div class='section'>
        <div class='content-block-medium'>
            {% placeholder 'purpose' %}
        </div>
    </div>
    <div class='section-alt'>
        <div class='content-block-medium'>
            {% placeholder 'partners' %}
        </div>
    </div>
    <div class='section'>
        <div class='content-block-medium'>
            {% placeholder 'product' %}
        </div>
    </div>
    <div class='main parrallax' id='quote' style="background-image:url('{% static 'img/buildings.png' %}')"
         data-stellar-background-ratio="0.5">
        <div class='content-block-medium'>{% placeholder 'quote' %}</div>
    </div>
    <div class='section'>
        <div class='content-block-medium split-block'>
            {% placeholder 'split' %}
        </div>
    </div>
    <script>
        $(function () {
            $.stellar({
                horizontalScrolling: false
            });
        });
    </script>
{% endblock %}