{% load cms_tags menu_tags sekizai_tags staticfiles %}
<!doctype html>
<html>
<head>
    <title>{% block title %}Axiom Digital{% endblock title %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {% render_block "css" %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/scrollreveal.js/3.3.1/scrollreveal.min.js"></script>
    <script src="{% static 'js/animation.js' %}"></script>
    <script src="{% static 'js/typed.min.js' %}"></script>
    <script src="{% static 'js/smooth-scroll.min.js' %}"></script>
    <script src="{% static 'js/jquery.vide.min.js' %}"></script>
    <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
    <link rel='stylesheet' type='text/css' href='{% static 'css/bootstrap.css' %}'>
    <link rel='stylesheet' type='text/css' href='{% static 'css/style.css' %}'>
    <link href="https://fonts.googleapis.com/css?family=Khula:300,700" rel="stylesheet">
</head>
<body>
{% cms_toolbar %}
<div class='nav'>
    <a class="menu-icon">
        <span class="top"></span>
        <span class="middle"></span>
        <span class="bottom"></span>
    </a>
    <a href='#'><img src='{% static 'img/logo.png' %}' %}'></a>
    <ul>
        {% show_menu 0 100 100 100 %}
    </ul>
</div>
<div class="nav-trigger"></div>
{% block content %}{% endblock content %}
</div>
<footer>
    <p>Axiom Digital 2016 | All Rights Reserved. | Icons by <a href="http://iconmonstr.com/">iconmonstr.com</a></p>
</footer>
{% render_block "js" %}
<script>
    window.sr = ScrollReveal();
    sr.reveal('.sr');
    sr.reveal('.sr-tile', {duration: 2000}, 50);

</script>
</body>
</html>
