{% load cms_tags menu_tags sekizai_tags staticfiles %}
<!doctype html>
<html>
<head>
    <title>{% block title %}Axiom Digital | {% page_attribute page_title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {% render_block "css" %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/scrollreveal.js/3.3.1/scrollreveal.min.js"></script>
    <script src="{% static 'js/animation.js' %}"></script>
    <script src="{% static 'js/typed.min.js' %}"></script>
    <script src="{% static 'js/smooth-scroll.min.js' %}"></script>
    <script src="{% static 'js/jquery.vide.min.js' %}"></script>
    <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
    <script src="{% static 'js/slick.min.js' %}"></script>
    <meta name="description"
          content="Axiom Digital is an LA based digital agency specializing in custom website design,
          search engine optimization, and Ecommerce tool integration.">
    <link rel='stylesheet' type='text/css' href='{% static 'css/bootstrap.css' %}'>
    <link rel='stylesheet' type='text/css' href='{% static 'css/style.css' %}'>
    <link href="https://fonts.googleapis.com/css?family=Khula:300,700" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="keywords" content="web, design, digital, marketing, custom, website, seo, responsive">
    <meta name="og:image" content="{% static 'img/logo.png' %}">
    <link rel="icon"
          type="image/ico"
          href="{% static 'img/favicon.ico' %}">
</head>
<body>
{% cms_toolbar %}
<div class='nav'>
    <a class="menu-icon">
        <span class="top"></span>
        <span class="middle"></span>
        <span class="bottom"></span>
    </a>
    <a href='#'><img src='{% static 'img/logo.png' %}' %}'></a>
    <ul>
        {% show_menu 0 0 0 0 %}
    </ul>
</div>
<div class="nav-trigger"></div>
{% block content %}{% endblock content %}
</div>
<footer>
    <p>Axiom Digital 2016 | All Rights Reserved. | Icons by <a href="http://iconmonstr.com/">iconmonstr.com</a></p>
</footer>
{% render_block "js" %}
<script>
    window.sr = ScrollReveal();
    sr.reveal('.sr');
    sr.reveal('.sr-tile', {duration: 2000}, 50);

</script>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-83862658-1', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>
