{% extends 'base.html' %}
{% load staticfiles cms_tags %}
{% block content %}
    {% block main %}{% endblock %}
    <div class='section contact' style="background-image:url('static/img/coding.jpg');">
        <div class='contact-head'>
            <h1>CONTACT</h1>
            <hr>
            <p>Ready to get started? So Are We.
            <p>
        </div>
        <img src='static/img/mail-icon.png'>
        <p class='contact-detail'>contact@axdstudios.com</p>
        <img src='static/img/phone-icon.png'>
        <p class='contact-detail'>(303) 815 4595</p>
    </div>
{% endblock %}

