{% extends 'main.html' %}
{% load staticfiles cms_tags %}
{% block main %}
    <div class="section-darker work-feature">
        {% placeholder 'feature' %}
    </div>
    <div class="work-headline">
        {% placeholder 'headline' %}
    </div>
    <div class="section-darker work-feature">
        {% placeholder 'feature 2' %}
    </div>
    <div class="work-final">
        {% placeholder 'final' %}
    </div>
    <script>
        $(document).ready(function () {
            $('.work-slideshow').slick({
                'arrows': false,
                'autoplay': true
            });
        });
    </script>
{% endblock %}